html, body {
    margin: 0;
    padding: 0;
    background-color: #fadbdb;
}

body {
    width: 700px;
    margin: 0 auto 100px;
    color: #df1d1d
}

/*typography*/

h1{
    font-size: 65px;
    font-family: "League Script", cursive;
    font-weight: 100;
    margin: 0 
}

h2 {
    font-size: 55px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin: 0;
}

h3 {
    font-size: 30px;
    font-family: "League Script", cursive;
    font-weight: 100;
    margin: 0;
}

h4 {
    font-size: 18px;
   font-weight: 600;
   font-family: "Montserrat", sans-serif;
   margin: 0;
}
p {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    font-weight: 100;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin: 50px 0;
}
header > h1 {
    margin: 0 10% 0 0;
}
header > h2 {
   margin: -37px 0 0 0;
}
footer > p {
    text-align: center;
}
.content-container {
    padding: 0 30px;
    margin-bottom: 100px
}
.menu-btm-marketing {
    display: flex;
}
.menu-item{
  display: flex;
  align-items: flex-start;
  padding: 40px 0;
}

hr.menu-item-line {
    border-top: 1.5px dotted #df1d1d;
    border-bottom: 0;
    width: 200px;
    margin-right: 10px;
}

hr.menu-line {
    border-top: 1.5px dotted #df1d1d;
    border-bottom: 0;
    width: 200px;
}

.food-img {
    width: 100px;
    padding-right: 30px;
    filter: invert(19%) sepia(54%) saturate(5316%) hue-rotate(355deg) brightness(99%) contrast(86%);

}

.food-description {
    display: flex;
    flex-direction: column;
    flex-grow: 3; 
}

.food-description > h4 {
    text-transform: uppercase;
}
.add-btn{
    border-radius: 50%;
    text-align: center;
    padding: 0.26em .5em;
    border: solid 0.5px #df1d1d;
    color: #df1d1d; 
    background-color: #fadbdb;
}

.add-btn:hover{
    background-color: #df1d1d;
    color: #fadbdb;
}

/*cart*/
.hidden {
    display: none
}

.cart-container {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}
.cart-title {
    text-align: center;
    margin: 40px 0;  
}

.cart-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
.cart-item-details {
  display: flex;
  align-items: center;
  flex-grow: 3
}

.total-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    border-top: dotted 0.5px #df1d1d;
}

.remove-btn {
    margin-left: 10px;
    padding: 0;
    border: none;
    background: none;
    font-size: 14px;
    color: #8B8B8B;
}

.btn {
    width: 100%;
    background-color: #df1d1d;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
}

/*payment modal*/
.modal {
    display: none;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: #fadbdb;
    position: fixed;
    height: 300px;
    width: 350px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    border: 1px dotted #df1d1d

}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    gap: 10px
}

input {
    height: 30px;
    border-color: #df1d1d;
    font-family: "Montserrat", sans-serif;
}

.close-modal-btn-container{
    text-align: right;
    margin: 9px;
}
.modal-close-btn {
    background: none;
    border: none;
    padding: 0;
    width: 24px; /* Adjust width as needed */
    height: 24px; /* Adjust height as needed */
    background-size: cover;
    background-position: center;
    color: #df1d1d;
    font-size: 22px;
    cursor: pointer;
}

/*thank you message*/
.thank-you-msg {
    display: none;
    color: #df1d1d;
    margin: 50px;
    padding: 20px;
    border: dotted #df1d1d;
    text-align: center;

}

